*{
    padding:0;
    margin:0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.border-left {
    position:  relative;
    width: 50px;
    height: 790px;
    left: -175px;
    background-color: white;
    z-index: +2;
}
.border-right {
    position: relative;
    background-color: white;
    width: 50px;
    height: 790px;
    z-index: +2;
    left: 175px;
}

.border-top {
    position:  absolute;
    background-color: white;
    width: 660px;
    height: 100px;
    z-index: +2;
    top: -100px;
}
.game-container{
    position: absolute;
    width: 350px;
    height: 500px;
;}
.sky{
    position: absolute;
    background-color: skyblue;
    width: 350px;
    height: 400px;
}
.ground{
    position: absolute;
    background-color: brown;
    width: 350px;
    height: 130px;
    top: 400px;
    z-index:1;
}
.bird{
    position: absolute;
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.bottom-obstacle{
    position: absolute;
    background-color: grey;
    width: 50px;
    height: 180px;
}
.top-obstacle{
    position: absolute;
    background-color: grey;
    width: 50px;
    height: 180px;
}